[Unit]
Description=SSD1306 OLED Boot Logo (Cat)
DefaultDependencies=no
After=local-fs.target

[Service]
Type=simple
ExecStart=/usr/local/bin/ssd1306_boot_logo
RemainAfterExit=yes
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=local-fs.target