[Unit]
Description=SSD1306 OLED Boot Logo (Cat)
DefaultDependencies=no
Before=sysinit.target shutdown.target
Conflicts=shutdown.target

[Service]
Type=simple
ExecStart=/usr/local/bin/ssd1306_boot_logo
RemainAfterExit=yes
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=sysinit.target